@import "tailwindcss";

@theme {
  /* Design System Apple-Like: Grade de 8pt e Tipografia Fluida */
  --text-body: clamp(1rem, 0.5vw + 0.9rem, 1.125rem);
  --ease-spring: cubic-bezier(0.32, 0.72, 0, 1); /* Efeito de atracagem iOS */
  
  --color-glass: rgba(255, 255, 255, 0.7);
  --color-glass-dark: rgba(15, 15, 15, 0.7);
}

:root {
  -webkit-tap-highlight-color: transparent; /* Remove o brilho chato ao tocar no mobile */
}

.glass {
  @apply backdrop-blur-xl bg-[var(--color-glass)] dark:bg-[var(--color-glass-dark)] border border-white/20 dark:border-white/10;
  will-change: backdrop-filter; /* Otimização para GPU */
}